{% extends "base.html" %}

{% block script %}
    <script src="../static/index.js"></script>
    <script src="../static/movieList.js"></script>
{% endblock %}

{% block content %}
    <section class="section is-large">
          <div class="container">
            <div class="columns">
              <div class="column center-text">
                <h1 class="title">Movie I am looking for...</h1>
                <div class="field">
                  <div class="control is-expanded">
                    <form  onsubmit="chooseFirst(event)">
                      <input id="query" autofocus type="text" oninput="populateMatches()" class="input is-large" placeholder="Enter movie..." autocomplete=off>
                    </form>
                  </div>
                </div>
                <div class="container" id="matchButtons">
                </div>
              </div>
            </div>
          </div>
    </section>
{% endblock %}
